.icon {
    fill: currentColor;

    width: 1.14285714286em;
    height: 1.14285714286em;

    /*width: 1.71428571429em;
    height: 1.71428571429em;*/
    
    /* No idea why, exactly, but this seems to be the best position, we long as we ... */
    vertical-align: super;
    /* ... prevent the icon affecting line-height: */
    margin: -0.5em 0;
    /*
    -webkit-transform: scale(0.666);
    -moz-transform: scale(0.666);
    -ms-transform: scale(0.666);
    transform: scale(0.666);*/
}

.icon--narrow {
    /*margin: -0.5em -0.25em;*/
    width: 0.85714285714em;
}


_:-o-prefocus, :root .icon {
    vertical-align: middle;
}


/*
    No transform support for Opera Mini, so hack it back to 16px with ems.
    Note, since Opera Mini doesn't support line-height, it will be vertically centered anyway.
    1. Hack also affects Opera 12 which is supported by the Original Mustard Cut, so turning off
       transform for this. Slight difference in position acceptable (lower).
*//*
_:-o-prefocus, :root .icon {
    width: 1.14285714286em;
    height: 1.14285714286em;
    transform: none; /* [1] *
}*/