$fallback--base-include-cleanse-css: false !default;

$fallback--base-font-size: 14px !default;
$fallback--base-line-height: 20px !default; // 1.25

$fallback--base-em-ratio: $fallback--base-line-height / $fallback--base-font-size;


$fallback--base-font-family: sans-serif !default;

$fallback--base-ui-color: #999f9f !default;

$fallback--base-background-color: #fff !default;
$fallback--base-text-color: #333 !default; 
